<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Demo Bundle{% endblock %}</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">
    
    <link href='http://fonts.googleapis.com/css?family=Italianno' rel='stylesheet' type='text/css'>
    <script src="js/modernizr-2.5.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>  
  
    {% stylesheets output='css/compressed/styles.css' filter='?yui_css'
            'css/bootstrap.css' 
            'css/bootstrap-responsive.css'
            'css/jquery.fancybox.css' 
            'css/jquery.fancybox-buttons.css'            
            'css/styles.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
  
    {% javascripts output='js/compressed/scripts.js' filter='?yui_js'
            'js/bootstrap.js'     
            'js/jquery.fancybox.js' 
            'js/jquery.fancybox-buttons.js'
            'js/jquery.lazyload.js'%}
        <script src="{{ asset_url }}"></script>            
    {% endjavascripts %}  
  
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    {% block navbar %}
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path('micha149_gallery_gallery_index') }}">{{ galleryTitle }}</a>
                    <div class="nav-collapse collapse">
                        {% block navigation %}
                        {% endblock %}
                        <a class="btn btn-inverse btn-small pull-right" href="{{ path('_logout') }}">Abmelden</a>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock %}
  
  <div class="container">
          
    <header>
    
    </header>
    
    <div role="main">
        {% block content %}
        {% endblock %}    
    </div>
    
    <footer>
    
    </footer>
      
  </div>

  <script>
    var _gaq=[['_setAccount','UA-2826929-8'],['_gat._anonymizeIp'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>