
{% extends "GalleryBundle::layout.html.twig" %}

{% block navigation %}
    <ul class="nav">
        {% for event in events %}
            <li {% if currentEvent == event %}class="active"{% endif %}>
                <a href="{{ path('micha149_gallery_gallery_event', {'event': event}) }}">{{ event }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}

    <h1>{{ currentEvent }}</h1>
    
    {% if files %}
        <div class="thumbnails">     
            {% for file in files %}
                {% if loop.index%4 == 0%}
                    <div class="row">
                {% endif %}
                <div class="span3">
                    <a href="{{file.lightbox}}" class="thumbnail" data-fancybox-group="gallery" data-download-url="{{file.original}}">
                        <img src="/img/placeholder.gif" width="270" height="173" data-original="{{file.thumbnail}}" alt="{{file.filename}}">
                    </a>
                </div>
                {% if loop.index%4 == 0%}
                    </div>
                {% endif %}                
            {% endfor %}    
        </div>
    {% endif %}
    
    <script>
        $(function () {
            var thumbs = $('.thumbnail');
            
            $('img', thumbs).lazyload();
            
            
    		thumbs.fancybox({
    			closeBtn  : false,
                arrows: false,
    			helpers : {
    				buttons	: {}
    			}
    		});
		});
    </script>
    
{% endblock %}